.privacy {
	display: flex;

	padding-left: 10px;

	&__item {
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		}

	&__button {
		position: relative;

		width: 40px;
		height: 24px;
		margin-right: 30px;
		margin-left: 30px;

		cursor: pointer;

		border: 1px solid $primary-privacy-bnt-color;
		border-radius: 20px;
		background-color: $primary-privacy-bnt-color;
		&--active {
			border: 1px solid $secondary-privacy-bnt-color;
			background-color: $secondary-privacy-bnt-color;
			span {
				left: 3px;
				}
			}
		}

	&__span {
		position: absolute;
		top: 50%;
		left: calc(100% - 20px);

		display: block;

		width: 18px;
		height: 18px;

		transition: left 0.3s linear;
		transform: translateY(-50%);

		border-radius: 50%;
		background-color: $color-white;
		}
	}
