doctype html
html(lang="en")
  head
    title Swivl
    include ./../../components/Meta/meta
    script(src="./Home.js")
  body
    include ./../../components/Header/Header
    include ./../../components/Main/main
