.nav {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: 37px;
			}
		}

	&__link {
		position: relative;

		display: block;

		height: 100%;

		text-transform: uppercase;

		opacity: 0.6;

		font-size: 14px;
		font-weight: 600;
		line-height: 19px;

		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;

			width: 0;
			height: 4px;

			content: "";
			transition: bottom 0.2s ease-out;
			transform: translateX(-50%);
			text-align: center;

			background: linear-gradient(175deg, #ff974f 0%, #e32c75 100%);
			}

		&--active {
			opacity: 1;

			&:after {
				bottom: -23px;

				width: 100%;
				}
			}

		&:hover {
			opacity: 1;
			}
		}
	&__button {
		position: absolute;
		z-index: 1;
		right: 15px;
		bottom: -55px;

		width: 64px;
		height: 64px;

		cursor: pointer;

		border-radius: 50%;
		background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);

		&:before, &:after {
			position: absolute;
			top: 50%;
			left: 50%;

			content: "";
			transform: translate(-50%, -50%);

			background: $color-white;
			}

		&:before {
			width: 20px;
			height: 2px;
			}

		&:after {
			width: 2px;
			height: 20px;
			}
		}
	}
