ul.nav
  li.nav__item
    a.nav__link.nav__link--active(href="#", title="Feed") Feed
  li.nav__item
    a.nav__link(href="#", title="Explore") Explore
  li.nav__item
    a.nav__link(href="#", title="Discussions") Discussions
.nav__button
