.nav {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: 37px;
			}
		}

	&__link {
		position: relative;

		display: block;

		height: 100%;

		text-transform: uppercase;

		opacity: 0.6;

		font-size: 14px;
		font-weight: 600;
		line-height: 19px;

		&:after {
			position: absolute;
			bottom: -23px;
			left: 50%;

			width: 0;
			height: 4px;

			content: "";
			transition: width 0.2s ease;
			transform: translateX(-50%);

			background: linear-gradient(175deg, #ff974f 0%, #e32c75 100%);
			}

		&--active {
			opacity: 1;

			&:after {
				width: 100%;
				}
			}

		&:hover {
			opacity: 1;
			}
		}
	}
