.header {
	padding-top: 20px;
	padding-bottom: 23px;

	background: $color-white;
	box-shadow: 0 12px 12px rgba(0, 0, 0, 0.06);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 18px;
		}

	&__nav-box {
		position: relative;
		}

	}
