header.header
  .header__container.container
    a.header__logo-box(href="#")
      img.header__logo(
        src="../../components/Header/images/logo-icon.svg",
        alt="Synth - logo icon"
      )
    include ../../components/Profile/profile
  .header__nav-box.container
    include ../../components/Navigation/navigation
