meta(charset="UTF-8")
meta(name="description", content="Test task for Swivl company")
meta(
  name="keywords",
  content="Synth, Gregory Watkins, Benjamin Clementine, New air routes"
)
meta(name="author", content="Roman Dybach")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
