//colors
$color-main: #3e4056;
$color-secondary: #3e3f58;
$color-white: #fff;
$color-red: #f05d63;
$main-background-color: #ecf1f8;
$primary-privacy-bnt-color: #ed5267;
$secondary-privacy-bnt-color: #b2b3bb;

//container
$container: 1200px;

//fonts
$font-family: Open sans, sans-serif;
$font-size: 16px;
